In [3]:
print("OK")

OK

In [14]:
import pandas as pd
df = pd.read_csv("Movie_Interests.csv")

In [16]:
df.head()

   Age  Gender   Interest
0    8       1  Animation
1   11       1  Animation
2   12       1  Animation
3   16       1     Action
4   18       1     Action

In [17]:
df.columns

Index(['Age', 'Gender', 'Interest'], dtype='object')

In [18]:
data = df.to_dict(orient='records')

In [19]:
data

[{'Age': 8, 'Gender': 1, 'Interest': 'Animation'},
 {'Age': 11, 'Gender': 1, 'Interest': 'Animation'},
 {'Age': 12, 'Gender': 1, 'Interest': 'Animation'},
 {'Age': 16, 'Gender': 1, 'Interest': 'Action'},
 {'Age': 18, 'Gender': 1, 'Interest': 'Action'},
 {'Age': 19, 'Gender': 1, 'Interest': 'Action'},
 {'Age': 23, 'Gender': 1, 'Interest': 'Drama'},
 {'Age': 26, 'Gender': 1, 'Interest': 'Drama'},
 {'Age': 27, 'Gender': 1, 'Interest': 'Drama'},
 {'Age': 7, 'Gender': 0, 'Interest': 'Animation'},
 {'Age': 9, 'Gender': 0, 'Interest': 'Animation'},
 {'Age': 10, 'Gender': 0, 'Interest': 'Animation'},
 {'Age': 26, 'Gender': 0, 'Interest': 'Action'},
 {'Age': 27, 'Gender': 0, 'Interest': 'Action'},
 {'Age': 30, 'Gender': 0, 'Interest': 'Action'},
 {'Age': 31, 'Gender': 0, 'Interest': 'Drama'},
 {'Age': 34, 'Gender': 0, 'Interest': 'Drama'},
 {'Age': 35, 'Gender': 0, 'Interest': 'Drama'}]

In [22]:
DB_NAME="US_VISA"
COLLECTION_NAME="visa_data"
CONNECTION_URL="mongodb+srv://michaelselvan2005:ybN948kT0lSrrv5f@cluster0.6pcesby.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [21]:
import pymongo

In [ ]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base=client[DB_NAME]   
collection=data_base[COLLECTION_NAME]
rec= collection.insert_many(data)